<div class="container">
  <h1 class="title">PETS</h1>
  <div class="d-flex row">
      <% @pets.each do |pet| %>
      <div class="col-4">
        <div class="card-product">
          <img src="<%= pet.picture_url %>" alt="Petpic" width="300px">
            <div class="card-product-infos">
              <h2 class= "pet-name"><%= pet.pet_name %></h2>
              <p><%= pet.pet_details %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
<p><%= link_to "Add a Pet", new_pet_path(@pet), class: "btn btn-primary" %></p>
</div>
