<h1><%= @pet.pet_name %></h1>
<div>
  <img src="<%= @pet.picture_url %>" alt="Petpic" width="300px">
  <p><%= @pet.pet_details %></p>
</div>

<p><%= link_to "Book this Pet", new_pet_booking_path(@pet), class: "btn btn-primary" %>
</p>
