<div class="simple-form">
  <%= simple_form_for([@pet, @booking]) do |f| %>
    <div class="input">
      <%= f.input :opening_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :closing_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    </div>
    <div class="actions">
      <%= f.submit "Book", class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
